.panel-block {
  padding: 0.2rem 0.75rem;
}

.my-main-row {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  min-height: 80vh;
}

.connected-status {
  display: flex;
}

.connected-status-message {
  margin-right: 0.25rem;
}

.no-data-available-alert {
  margin: auto;
}

.recent-availability-panel {
  margin-left: auto;
  margin-right: auto;
}

.current-availability-message {
  width: 100%;
  margin: 0.5rem;
}
